<center>
	<h1>
	<font size="10" color="#0000FF">
		Welcome to Tianle's homepage
	</font>
		
	</h1>
	<button onclick="redirect()">查看课程</button>
	<script language="javascript"type="text/javascript">
	function redirect(){
           window.location.href="https://course-tianleh.c9users.io/courses"; 
	}
    </script
	
	
	
</center>

<h1 size="1"><h1>

<center>
<font size="3" face="arial,helvetica">
<a href="http://www.ucas.ac.cn/">University of Chinese Academy of Science</a><br>
地址：北京市石景山区玉泉路19号（甲） 邮编: 100049<br>

<p>Time: <%=Time.new%></p>
</font>
</p>
<font face="arial, helvetica" color="#808080" size="1">
Copyright © 2017 He Tianle</font>

</center>